# Predicting CLTV and Customer Repeat with Machine Learning for Shopify

#### A Data Science Project by Benjamin N. Bellman

![image.png](../../Images/Data_Wrangling.png)

### Project Table of Contents: 
<br>

**I. INTRODUCTION \& PRELIMINARY ANALYSIS**
1. Project Purpose 
2. Loading \& Previewing Data 
3. Data Wrangling 
4. Preliminary EDA 

**II. DATA WRANGLING**  
1. Cleaning up data.
2. Creating 3 separate dataframes.
3. Creating the final 1 year CLTV Table.

**III. EXPLORATORY DATA ANALYSIS**  
1. Loading an Previewing the New Table
2. Exploring relationships of variables on Post First Week Spend

**IV. PREPROCESSING AND MODELLING** 
1. Linear Models
2. Classification Models

### Project Purpose


<p> Welcome to this Tutorial on Extracting Shopify Data to create a Customer Lifetime Value (CLTV) Analysis! This notebook will walk you through the steps so you too can replicate this for your business! 

<p> As of 2021, e-commerce is, worldwide, a $4.89 trillion industry. One of the leading platforms in the marketplace is Shopify which currently holds a 23% market share in the United States with over 2.6 million live stores. For Perspective, there is about 1 store for every 130 Americans. With e-commerce expected to keep growing in the future, it is important for current and future Shopify store-owners to get the most use  of the available data the platform provides.
This project will apply the Data Science method to learn more about customer behavior  and create a Customer Lifetime Value Analysis (CLTV) with some Machine Learning techniques from Shopify Data. The purpose will be to understand what makes customers become repeat customers and use the information collected to generate more revenue by increasing LTV. 

<p> Shopify data is usually standardized when exporting orders in csv format. In this dataset, the original raw export is  organized where each row represents an item sold with ~73 columns that provide information on the item purchased. Most of these will not be useful for this analysis and dropped early on. 

<br> **Featured columns include:**

- *Name*: This refers to the Order Id. This is not unique, as there can be multiple items in one order. 
- *Email*: This is the email of the customer, which is used to identify a customer. 
- *Paid at*: This column refers to the time and date the transaction occurred. There is only one date for each Order, so it is normal if there are blanks provided. Other columns follow this logic 
- *Subtotal*: This refers to the subtotal for each order.  
- *Lineitem name*: This refers to the name of the product. Typically, a store sets up the product name where we can get information such as the size, type and color of the product in question. This column should never be empty. 
- *Line Item Quantity and Line Item Price*: These columns design how much of each item and their price, respectively, and shouldn’t contain missing values. 

How a shopify store is organized to collect data may result in possible missing values or incomplete transactions(as was the case for this company). The analysis will clean some data but assumes that there are no missing values in the “Created at”,  “Lineitem name”, and “LineItem Price” columns since all of these refer to each individual item sold and if there is missing data in these, they will need to be dropped. For a more detailed guide on understanding shopify data and more details on the columns, please refer to this sheet.
The data used for this analysis comes from a real company which generated $1 million in YTD revenue. The data has been modified from its original version to protect the anonymity of the company as well as the information of all its customers. 

<br> The original export file which will be analyzing  has been modified with the following alterations: 

- Columns *“Billing Name “ , “ Billing Street“ , “Billing Address1 “ , “Billing Address2 “ , “Billing Company “ , “Billing Phone “ , “Shipping Name “ , “ Shipping Street“ , “Shipping Address1 “ , “Shipping Address2 “ , “Shipping Company “ , “Shipping Phone “*  have all been replaced with null values. These columns will not be used in the analysis and dropped early on shortly after the introduction .
- Values in the *“Email”* column have been replaced with a unique Email Id for each customer instead of their actual emails. 
- Column *“Line-item name”* has substituted product names.

## Part 1: Data Wrangling

### 1. Loading our packages and Dataframe.

In [1]:
## We start by importing the appropriate packages which we will want to use. 
import pandas as pd
import numpy as np
from datetime import datetime as dt
import matplotlib.pyplot as plt
from datetime import timedelta
import seaborn as sns
import warnings
import statsmodels.api as sm
from statsmodels.graphics.api import abline_plot 
from sklearn.metrics import mean_squared_error, r2_score 
from sklearn.model_selection import train_test_split 
from sklearn import linear_model, preprocessing
%matplotlib inline
pd.set_option('display.max_columns', None)
warnings.filterwarnings('ignore')

In [2]:
## We create our dataframe with the raw data.
raw_data = pd.read_csv('.\..\..\Datasets\original_data.csv')
wealthiest_zips = pd.read_csv('.\..\..\Datasets\wealthiest_zips.csv', dtype =str)

### 2. Previewing our data.

In [3]:
# We preview the first 5 rows of our dataframe.
raw_data.head()

,Name,Email,Financial Status,Paid at,Fulfillment Status,Fulfilled at,Accepts Marketing,Currency,Subtotal,Shipping,Taxes,Total,Discount Code,Discount Amount,Shipping Method,Created at,Lineitem quantity,Lineitem name,Lineitem price,Lineitem compare at price,Lineitem sku,Lineitem requires shipping,Lineitem taxable,Lineitem fulfillment status,Billing Name,Billing Street,Billing Address1,Billing Address2,Billing Company,Billing City,Billing Zip,Billing Province,Billing Country,Billing Phone,Shipping Name,Shipping Street,Shipping Address1,Shipping Address2,Shipping Company,Shipping City,Shipping Zip,Shipping Province,Shipping Country,Shipping Phone,Notes,Note Attributes,Cancelled at,Payment Method,Payment Reference,Refunded Amount,Vendor,Id,Tags,Risk Level,Source,Lineitem discount,Tax 1 Name,Tax 1 Value,Tax 2 Name,Tax 2 Value,Tax 3 Name,Tax 3 Value,Tax 4 Name,Tax 4 Value,Tax 5 Name,Tax 5 Value,Phone,Receipt Number,Duties,Billing Province Name,Shipping Province Name,Payment Terms Name,Next Payment Due At
0,#29489,Anonymous4245,paid,11/11/2021 16:53,unfulfilled,NaN,no,USD,142.0,0.00,11.72,153.72,NaN,0.0,Free Shipping,11/11/2021 16:53,1,Mint Crossback Sports Bra - S,38.0,NaN,100.0,True,True,pending,NaN,NaN,NaN,NaN,NaN,DIXON,'61021,IL,US,NaN,NaN,NaN,NaN,NaN,NaN,DIXON,'61021,IL,US,NaN,NaN,NaN,NaN,Shopify Payments,c29208367530214.1,0.0,NaN,4.550000e+12,NaN,Low,web,0.0,Dixon City Tax 0.5%,0.71,Illinois State Tax 6.25%,8.88,Lee County Tax 1.5%,2.13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Illinois,Illinois,NaN,NaN
1,#29489,Anonymous4245,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11/11/2021 16:53,1,Black/Burgundy Contour Leggings - XS,52.0,NaN,300.0,True,True,pending,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,#29489,Anonymous4245,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11/11/2021 16:53,1,Black/Mint Contour Leggings - XS,52.0,NaN,100.0,True,True,pending,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,#29488,Anonymous9987,paid,11/11/2021 10:09,unfulfilled,NaN,no,USD,40.0,5.36,2.90,48.26,NaN,0.0,Standard Shipping,11/11/2021 10:09,1,Black Long Sleeve Top - L,40.0,NaN,102.0,True,True,pending,NaN,NaN,NaN,NaN,NaN,Moreno Valley,'92553,CA,US,NaN,NaN,NaN,NaN,NaN,NaN,Moreno Valley,'92553,CA,US,NaN,NaN,NaN,NaN,Afterpay North America,c29207688708326.1,0.0,NaN,4.550000e+12,NaN,Low,web,0.0,California State Tax 7.25%,2.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,California,California,NaN,NaN
4,#29487,Anonymous9675,paid,11/10/2021 14:54,fulfilled,11/11/2021 10:56,no,USD,94.0,5.06,0.00,99.06,NaN,0.0,Standard Shipping,11/10/2021 14:54,1,Raspberry Crossover Sports Bra - XL,38.0,NaN,53.0,True,True,fulfilled,NaN,NaN,NaN,NaN,NaN,ELKINS PARK,19027-1829,PA,US,NaN,NaN,NaN,NaN,NaN,NaN,ELKINS PARK,19027-1829,PA,US,NaN,NaN,NaN,NaN,Shopify Payments,c29206160441574.1,0.0,NaN,4.550000e+12,NaN,Low,web,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Pennsylvania,Pennsylvania,NaN,NaN

In [4]:
# We now look at the columns to get more information about them. 
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50418 entries, 0 to 50417
Data columns (total 73 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Name                         50418 non-null  object
 1   Email                        46372 non-null  object
 2   Financial Status             28489 non-null  object
 3   Paid at                      27735 non-null  object
 4   Fulfillment Status           28489 non-null  object
 5   Fulfilled at                 27256 non-null  object
 6   Accepts Marketing            28489 non-null  object
 7   Currency                     28489 non-null  object
 8   Subtotal                     28489 non-null  float64
 9   Shipping                     28489 non-null  float64
 10  Taxes                        28489 non-null  float64
 11  Total                        28489 non-null  float64
 12  Discount Code                7339 non-null   object
 13  Discount Amount              28489 non-null  float64
 14  Shipping Method              27824 non-null  object
 15  Created at                   50418 non-null  object
 16  Lineitem quantity            50418 non-null  int64
 17  Lineitem name                50418 non-null  object
 18  Lineitem price               50418 non-null  float64
 19  Lineitem compare at price    6806 non-null   float64
 20  Lineitem sku                 49671 non-null  object
 21  Lineitem requires shipping   50418 non-null  bool
 22  Lineitem taxable             50418 non-null  bool
 23  Lineitem fulfillment status  50418 non-null  object
 24  Billing Name                 0 non-null      float64
 25  Billing Street               0 non-null      float64
 26  Billing Address1             0 non-null      float64
 27  Billing Address2             0 non-null      float64
 28  Billing Company              0 non-null      float64
 29  Billing City                 28484 non-null  object
 30  Billing Zip                  28471 non-null  object
 31  Billing Province             27768 non-null  object
 32  Billing Country              28482 non-null  object
 33  Billing Phone                0 non-null      float64
 34  Shipping Name                0 non-null      float64
 35  Shipping Street              0 non-null      float64
 36  Shipping Address1            0 non-null      float64
 37  Shipping Address2            0 non-null      float64
 38  Shipping Company             0 non-null      float64
 39  Shipping City                28445 non-null  object
 40  Shipping Zip                 28432 non-null  object
 41  Shipping Province            27736 non-null  object
 42  Shipping Country             28443 non-null  object
 43  Shipping Phone               0 non-null      float64
 44  Notes                        159 non-null    object
 45  Note Attributes              0 non-null      float64
 46  Cancelled at                 265 non-null    object
 47  Payment Method               28443 non-null  object
 48  Payment Reference            28438 non-null  object
 49  Refunded Amount              28489 non-null  float64
 50  Vendor                       0 non-null      float64
 51  Id                           28489 non-null  float64
 52  Tags                         0 non-null      float64
 53  Risk Level                   28489 non-null  object
 54  Source                       28489 non-null  object
 55  Lineitem discount            50418 non-null  float64
 56  Tax 1 Name                   7863 non-null   object
 57  Tax 1 Value                  7863 non-null   float64
 58  Tax 2 Name                   2161 non-null   object
 59  Tax 2 Value                  2161 non-null   float64
 60  Tax 3 Name                   475 non-null    object
 61  Tax 3 Value                  475 non-null    float64
 62  Tax 4 Name                   0 non-null      float64
 63  Tax 4 Value                  0 non-null      float64
 64  Tax 5 Name                   0 non-null      float64
 65  Tax 5 Value                  0 non-null      float64
 66  Phone                        3930 non-null   float64
 67  Receipt Number               0 non-null      float64
 68  Duties                       0 non-null      float64
 69  Billing Province Name        27769 non-null  object
 70  Shipping Province Name       27737 non-null  object
 71  Payment Terms Name           0 non-null      float64
 72  Next Payment Due At          0 non-null      float64
dtypes: bool(2), float64(37), int64(1), object(33)
memory usage: 27.4+ MB

# II. Data Wrangling:

## 1. Cleaning our Data.  

We are going to take the following series of steps:

- **Step 1: Removing redundant and unnecessary columns.** As mentioned in the introduction, certain columns are unnecessary in this analysis, this we can remove them.
- **Step 2: Renaming columns.** We can replace some names with more appropriate / relevant ones.
- **Step 3: Cleaning up NaN values.** Many values in this dataset appear as NaN. (...)
- **Step 4: Removing data for which we do not have emails.** As mentionned in our introduction, while setting up our shopify data collection, some emails failed to be collected. We must remove the transactions for which we have missing emails as we do not know if the customer was repeat or not.
- **Step 5: Converting Transaction Date to Datetime.** Our Transaction Date column needs to be converted to a Datetime object.
- **Step 6: Fix Formatting of Zip Codes.** We need to remove the "'" found before the zip code in the column.
- **Step 7: Adding the Wealthiest Zip Codes**: We add a column if the transaction was located in one of the 1op 10 richest zip codes.

In [5]:
## Step 1: Remove some columns
columns_to_drop = ['Fulfilled at','Currency','Created at','Lineitem compare at price',
                   'Lineitem requires shipping','Lineitem taxable','Lineitem fulfillment status',
                   'Billing Name','Billing Street','Billing Address1','Billing Address2',
                   'Billing Company','Billing Phone','Shipping Name','Shipping Street',
                   'Shipping Address1','Shipping Address2','Shipping Company','Shipping City',
                   'Shipping Zip','Shipping Province','Shipping Country','Shipping Phone','Notes',
                   'Note Attributes','Payment Reference','Vendor','Id','Tags','Risk Level','Source',
                   'Tax 1 Name','Tax 1 Value','Tax 2 Name','Tax 2 Value','Tax 3 Name','Tax 3 Value',
                   'Tax 4 Name','Tax 4 Value','Tax 5 Name','Tax 5 Value','Phone','Receipt Number',
                   'Duties','Billing Province Name','Shipping Province Name','Payment Terms Name',
                   'Next Payment Due At','Lineitem sku']
raw_data.drop(columns=columns_to_drop, inplace = True)

## Step 2: Use the rename method to change the column names. 
raw_data = raw_data.rename(columns={'Name': 'OrderID','Paid at': 'Transaction Date','Email':'CustomerID'} )

# Step 3: Use the fillna method to fill "NaN" values with either empty strings or 0s to clean our data.
raw_data['Discount Code'] = raw_data['Discount Code'].fillna('')
raw_data['Discount Amount'] = raw_data['Discount Amount'].fillna(0)

## Step 4: Using dropna, we remove the rows for which no email is associated with the transaction. 
raw_data.dropna(subset=['CustomerID'], inplace = True)

## Step 5: Use pd.to_datetime to convert the 'Transaction Date' column to datetime object.  
raw_data['Transaction Date'] = pd.to_datetime(raw_data['Transaction Date'], errors='coerce')


## Step 6: Fix Formatting of Zip Codes. 
raw_data['Billing Zip'].fillna(method ='ffill', inplace = True)
raw_data.loc[:,'Billing Zip'] = raw_data['Billing Zip'].apply(lambda x : x.replace("'",""))

## Step 7: Adding The wealthiest Zip Codes.
wealthiest_zips_list = list(wealthiest_zips.Zip.unique())
wealthiest_zips_list = [s.replace("\xa0","") for s in wealthiest_zips_list]
raw_data['wealthy_zip'] = np.where(raw_data['Billing Zip'].isin(wealthiest_zips_list),1,0)

# Step 8: Segmenting our states by Region.
west = ['WA','OR','ID','NV','CA','AZ','NM','CO','UT','WY','MT','AK','HI','PR','GU','MP','VI','AP','AE']
north_east = ['PA','MD','NJ','DE','CT','RI','MA','NY','NH','VT','ME','DC']
south = ['TX','OK','LA','AR','MS','AL','GA','FL','SC','NC','VA','WV','KY','TN']
mid_west = ['ND','SD','NE','KS','MO','IA','MN','WI','IL','IN','MI','OH']

raw_data[['Billing Country','Billing Province']] = raw_data[['Billing Country','Billing Province']].fillna(method='ffill')
raw_data = raw_data[raw_data.loc[:,'Billing Country'] == 'US']

raw_data['region'] = np.where(raw_data['Billing Province'].isin(west), 'W',
                     np.where(raw_data['Billing Province'].isin(north_east), 'NE',
                     np.where(raw_data['Billing Province'].isin(south), 'S',
                     np.where(raw_data['Billing Province'].isin(mid_west), 'MW','NA'))))

In [6]:
## Finally, Let's take a look at the dataframe after applying all these transformations
print(raw_data.info())
print('\n\n')
raw_data.head(5)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42521 entries, 0 to 50416
Data columns (total 26 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   OrderID             42521 non-null  object
 1   CustomerID          42521 non-null  object
 2   Financial Status    23789 non-null  object
 3   Transaction Date    23118 non-null  datetime64[ns]
 4   Fulfillment Status  23789 non-null  object
 5   Accepts Marketing   23789 non-null  object
 6   Subtotal            23789 non-null  float64
 7   Shipping            23789 non-null  float64
 8   Taxes               23789 non-null  float64
 9   Total               23789 non-null  float64
 10  Discount Code       42521 non-null  object
 11  Discount Amount     42521 non-null  float64
 12  Shipping Method     23310 non-null  object
 13  Lineitem quantity   42521 non-null  int64
 14  Lineitem name       42521 non-null  object
 15  Lineitem price      42521 non-null  float64
 16  Billing City        23787 non-null  object
 17  Billing Zip         42521 non-null  object
 18  Billing Province    42521 non-null  object
 19  Billing Country     42521 non-null  object
 20  Cancelled at        242 non-null    object
 21  Payment Method      23749 non-null  object
 22  Refunded Amount     23789 non-null  float64
 23  Lineitem discount   42521 non-null  float64
 24  wealthy_zip         42521 non-null  int32
 25  region              42521 non-null  object
dtypes: datetime64[ns](1), float64(8), int32(1), int64(1), object(15)
memory usage: 8.6+ MB
None

,OrderID,CustomerID,Financial Status,Transaction Date,Fulfillment Status,Accepts Marketing,Subtotal,Shipping,Taxes,Total,Discount Code,Discount Amount,Shipping Method,Lineitem quantity,Lineitem name,Lineitem price,Billing City,Billing Zip,Billing Province,Billing Country,Cancelled at,Payment Method,Refunded Amount,Lineitem discount,wealthy_zip,region
0,#29489,Anonymous4245,paid,2021-11-11 16:53:00,unfulfilled,no,142.0,0.00,11.72,153.72,,0.0,Free Shipping,1,Mint Crossback Sports Bra - S,38.0,DIXON,61021,IL,US,NaN,Shopify Payments,0.0,0.0,0,MW
1,#29489,Anonymous4245,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,,0.0,NaN,1,Black/Burgundy Contour Leggings - XS,52.0,NaN,61021,IL,US,NaN,NaN,NaN,0.0,0,MW
2,#29489,Anonymous4245,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,,0.0,NaN,1,Black/Mint Contour Leggings - XS,52.0,NaN,61021,IL,US,NaN,NaN,NaN,0.0,0,MW
3,#29488,Anonymous9987,paid,2021-11-11 10:09:00,unfulfilled,no,40.0,5.36,2.90,48.26,,0.0,Standard Shipping,1,Black Long Sleeve Top - L,40.0,Moreno Valley,92553,CA,US,NaN,Afterpay North America,0.0,0.0,0,W
4,#29487,Anonymous9675,paid,2021-11-10 14:54:00,fulfilled,no,94.0,5.06,0.00,99.06,,0.0,Standard Shipping,1,Raspberry Crossover Sports Bra - XL,38.0,ELKINS PARK,19027-1829,PA,US,NaN,Shopify Payments,0.0,0.0,0,NE

## 2. Creating Separate Dataframes.

Now that we have cleaned our data, we will want to create three seperate dataframes. 
- **Orders**: Group the raw data by orders. Unclear if actually needed.
- **Items**: Extract the list of items from the raw data as well as their relevant characteristics. This is meant as a helped dataframe to build our Customers dataframe.
- **Customers**: This is the end product of the data wrangling step. It contains the relevant data grouped by customer, and organized around the concept of CLTV as explained in the introduction. Notably, it means splitting customer information between first week (fw) data vs the rest of the CLTV period (1 year minus that first week, or post first week) (pfw).

### Creating a unique order dataframe.

In [7]:
# We create the orders dataframe. 
def coupon_used(x):
    if any(x != 0):
        return True
    return False

orders =  raw_data.groupby(['OrderID'], as_index=False).agg(Total_Spent = ('Subtotal', np.sum),
                                            Total_Items_Purchased = ('Lineitem quantity', np.sum),
                                            Used_Coupon = ('Discount Amount', coupon_used),
                                            CustomerID = ('CustomerID', np.max),
                                            Transaction_Date = ('Transaction Date', np.max)
                                            )

## We remove the '#' from OrdersID and change it to int type. 
orders['OrderID'] = orders['OrderID'].apply(lambda x: x.replace('#','')).astype(int)

## We sort by OrderID.
orders = orders.sort_values('OrderID', ascending = False)
orders.dropna(inplace=True)

## We add a column to identify the customers who made a repeat purchase.
duplicated_orders = list(orders.CustomerID[orders.CustomerID.duplicated()])
orders['repeat_customer'] = np.where(orders['CustomerID'].apply(lambda x: x in duplicated_orders),1,0)

orders.reset_index(inplace= True)

In [8]:
num_orders = orders['OrderID'].nunique()
num_orders_from_repeat = orders['repeat_customer'].value_counts()[1]

print("%d orders out of %d are made by repeat customers, i.e. %d %% of all orders are made by repeat customers."
      % (num_orders_from_repeat, num_orders, np.around(100 * num_orders_from_repeat / num_orders, decimals=1)))

print('\n\n')
orders.head(5)

12710 orders out of 23118 are made by repeat customers, i.e. 55 % of all orders are made by repeat customers.

,index,OrderID,Total_Spent,Total_Items_Purchased,Used_Coupon,CustomerID,Transaction_Date,repeat_customer
0,19033,29489,142.0,3,False,Anonymous4245,2021-11-11 16:53:00,1
1,19032,29488,40.0,1,False,Anonymous9987,2021-11-11 10:09:00,1
2,19031,29487,94.0,2,False,Anonymous9675,2021-11-10 14:54:00,0
3,19030,29486,52.0,1,False,Anonymous8266,2021-11-09 23:07:00,1
4,19029,29485,102.0,2,False,Anonymous7639,2021-11-09 18:45:00,0

### Creating a unique item dataframe.

In [9]:
# We create our items dataframe. 
items =  raw_data.groupby(['Lineitem name']).agg(Times_Purchased = ('Lineitem quantity', np.sum),
                                                 Price = ('Lineitem price', np.max)
                                                 )

items.sort_values('Times_Purchased', ascending = False, inplace=True)
items.reset_index(inplace=True)

## We create a unique product sku for each of these items. 
items['Product Sku'] = [i+1 for i in range(len(items))]

In [10]:
## We create a size column separating it in 6 different sizes, or a "no size" label for non-clothing items. 
"""
Filling item info:
 - left column is the desired label (for example for sizes, 'L', 'M' etc.)
 - right column between [] is the list (separated by commas) of ways the info can appear in the item's name
See example below on how to fill for item sizes if the sizes show up as "... / L" or "... - L", etc.
"""
def get_item_size(row):
    dict_sizes = {'XS': ['- XS', '/ XS'],
                  'S': ['- S', '/ S'],
                  'M': ['- M', '/ M'],
                  'L': ['- L', '/ L'],
                  'XL': ['- XL', '/ XL'],
                  'XXL': ['- XXL', '/ XXL']}

    item_name = row['Lineitem name']
    for key in dict_sizes.keys():
        for value in dict_sizes[key]:
            if value in item_name:
                return key
    return 'No size'

items['size'] = items.apply(get_item_size, axis=1)


items['Price_Range'] = np.where(items['Price'] <= 35, 'low',
                       np.where((items['Price'] > 35 ) & (items['Price'] <= 45) , 'medium',
                       np.where(items['Price'] > 45, 'high','NA')))

## We create an is_accessory column that contains a boolean value
## (True if the item is an accessory, i.e. not a clothing article, False otherwise)
def is_item_accessory(row):
    accessories = ['Resistance Bands', 'Barbell','Cable Cuffs']
    clothing = ['Long Sleeve','Leggings','Sports Bra','Jacket','Crop Tops','Shorts','Shirts','Sweater', 'Hoodie','Camo']

    item_name = row['Lineitem name']
    for accessory in accessories:
        if accessory in item_name:
            return True
    return False

items['is_accessory'] = items.apply(is_item_accessory, axis=1)



## Finally, we rearrange the columns so that Product Sku becomes our first column. 
items = items.iloc[:, [3, 0, 1, 2, 5, 4, 6]]

In [11]:
items.head(5)

,Product Sku,Lineitem name,Times_Purchased,Price,Price_Range,size,is_accessory
0,1,Black/Mint Contour Leggings - M,950,50.0,high,M,False
1,2,Black/Mint Contour Leggings - S,802,52.0,high,S,False
2,3,Resistance Bands,611,25.0,low,No size,True
3,4,Black/Grey Contour Leggings - M,552,52.0,high,M,False
4,5,Black/Dark Blue Contour Leggings - S,545,50.0,high,S,False

###  Creating a unique customers dataframe.
This dataframe will re-organize our data so that each unique customer has its own row. As we are working on analyzing the CLTV ratio of our customers, we will need to get information about each of the customers.

Because the purpose of this analysis is to predict the 1-year CLTV, we can not use customers whose first order was made less than 1 year ago, so we remove them from the data.

We then create "first week" (fw) and "post first week" (pfw) variables.

In [12]:
## Prior to creating our dataframe, we define functions which we will be used to retrieve infromation we want below. 
def count_discount_codes(discount_codes):
    '''
    This function returns the number of distinct coupons used 
    '''
    counter = 0
    for entry in discount_codes:
        if entry != '':
            counter += 1
    return counter

def time_elapsed(x):
    '''
    This function returns the number of days between a customer's first order and most recent order.
    '''
    return (x.max() - x.min()).days

def order_freq(x):
    '''
    This function returns the how often a customer makes a purchase (in days)
    '''
    return (x.max() - x.min()).days / x.count()

def repeat_customer(x):
    '''
    This function return whether or not the customer is a repeat customer. 
    '''
    if x.max() != x.min():
        return 1
    else:
        return 0

In [13]:
## We create the customer dataframe. 
"""
customer =  raw_data.groupby(['CustomerID'], as_index=False).agg(Number_of_Orders = ('OrderID', 'nunique'),
                                            Total_Items_Purchased = ('Lineitem quantity', np.sum),
                                            Total_Spent = ('Subtotal', np.sum),
                                            Smallest_purchase = ('Subtotal', min),
                                            Largest_purchase = ('Subtotal', max),
                                            Average_order_spend = ('Subtotal', np.mean),
                                            Coupons_Used = ('Discount Code', count_discount_codes), 
                                            Coupons_Amount = ('Discount Amount', np.sum),
                                            First_Order = ('Transaction Date', np.min), 
                                            Most_Recent_Order = ('Transaction Date', np.max),
                                            Time_Elapsed_days = ('Transaction Date', time_elapsed),
                                            Frequency_in_days =('Transaction Date', order_freq),
                                            repeat_customer =('Transaction Date', repeat_customer)
                                            )
"""
customers_in_cltv =  raw_data.groupby(['CustomerID'], as_index=False).agg(Number_of_Orders = ('OrderID', 'nunique'),
                                            First_Order = ('Transaction Date', np.min), 
                                            Most_Recent_Order = ('Transaction Date', np.max),
                                            repeat_customer =('Transaction Date', repeat_customer))

# We sort the values to get the customers who placed the most orders first. 
customers_in_cltv.sort_values('Number_of_Orders', ascending = False, inplace=True)

## We drop rows for which we don't have data or we have invalid data. 
customers_in_cltv = customers_in_cltv[customers_in_cltv.CustomerID != '#REF!']
customers_in_cltv.dropna(inplace=True)

In [14]:
## We define date_limit as one year prior to the most recent order in the entire dataset.
## We only keep customers whose first order was made prior to date_limit.
## That way, all the customers we keep will have at least a 1 year history on the platform.
num_all_customers = len(customers_in_cltv.index)

last_order = customers_in_cltv['Most_Recent_Order'].max()
date_limit = last_order - timedelta(days=365) 
customers_in_cltv = customers_in_cltv[customers_in_cltv['First_Order'] < date_limit]

num_cltv_customers = len(customers_in_cltv.index)

# For each customer, we create a cltv_start date and a cltv end date. 
customers_in_cltv['cltv_start'] = customers_in_cltv['First_Order'] + timedelta(days=7)
customers_in_cltv['cltv_end'] = customers_in_cltv['First_Order'] + timedelta(days=365)


customers_in_cltv.reset_index(inplace=True)

In [15]:
print('The most recent date in our dataset is %s. Therefore, our date limit is %s'
      % (str(last_order), str(date_limit)))
print('Our original customer table contained %d different customers. '
      'After removing those who made their first purchase after the date limit, we are left with %d customers.'
      % (num_all_customers, num_cltv_customers))

print('\n\n')

num_customers = len(customers_in_cltv.index)
num_repeat = customers_in_cltv['repeat_customer'].value_counts()[1]

print("In the customer table, there are %d repeat customers for %d total customers." % (num_repeat, num_customers))
print("This means that there are %d %% repeat customers in the data."
      % np.around(100 * num_repeat / num_customers, decimals=1))

print('\n\n')
customers_in_cltv.head(5)

The most recent date in our dataset is 2021-11-11 16:53:00. Therefore, our date limit is 2020-11-11 16:53:00
Our original customer table contained 14643 different customers. After removing those who made their first purchase after the date limit, we are left with 10595 customers.



In the customer table, there are 3511 repeat customers for 10595 total customers.
This means that there are 33 % repeat customers in the data.

,index,CustomerID,Number_of_Orders,First_Order,Most_Recent_Order,repeat_customer,cltv_start,cltv_end
0,3435,Anonymous13455,36,2020-06-30 17:54:00,2021-10-15 16:10:00,1,2020-07-07 17:54:00,2021-06-30 17:54:00
1,6946,Anonymous2142,23,2019-05-09 15:48:00,2021-08-10 09:57:00,1,2019-05-16 15:48:00,2020-05-08 15:48:00
2,9687,Anonymous4843,22,2019-10-14 22:08:00,2021-10-15 16:59:00,1,2019-10-21 22:08:00,2020-10-13 22:08:00
3,1220,Anonymous11225,21,2020-01-31 17:54:00,2021-05-25 13:46:00,1,2020-02-07 17:54:00,2021-01-30 17:54:00
4,10238,Anonymous540,20,2020-01-03 16:21:00,2021-08-09 09:02:00,1,2020-01-10 16:21:00,2021-01-02 16:21:00

###  Building fw and pfw features.

The code below creates a number of new columns, based on the notion of CLTV explained above: we want to predict the 1 year CLTV (pfw spending), based on the customer's behavior during their first week on the platform (fw features).

**fw features:**

- **fw_nb_orders**: (int) number of orders made by the customer during their first week on the platform.
- **fw_nb_items**: (int) number of items purchased in the first week, accross orders made by the customer.
- **fw_total_spent**: (float) amount spent by the customer during their first week on the platform.
- **fw_used_coupon**: (bool) whteher the customer used a coupon during their first week on the platform.
- **fw_purchased_accessory**: (bool) whether the customer purchased an accessory during their first week on the platform. If not, it means they only bought clothing.
- **location**: (string) within {'Northeast', 'Midwest', 'South', 'West'} - this is assuming all customers are from the US and assuming they did not move over the time spent on the platform, which was separately verified to be true for this dataset.
- **in_wealthiest_zipcode**: (bool) whether the zipcode of the customer is within the top 100 wealthiest zipcodes in the US.
- **first_item_size**: (string) within {'XS', 'S', 'M', 'L', 'XL', 'NA'} size of first item purchased. NA is for items that are not clothing. If items of multiple sizes are purchased in the first order, pick the most chosen size (for example if 2 'M' items and 1 'S' item are purchased, categorize that as 'M'). If there is a tie, pick randomly.
- **accepts_marketing**: (bool) whether the customer aggreed to receive marketing offers.
- **first_order_month**: (string) {'1' to '12'} month during which the customer made their first purchase.
- **first_purchase_price**: (string) {'low', 'medium', 'high'} based on the price of the most expensive item in the first order made by the customer. Prices are split in 3 buckets where 'low' is for a price within {\\$0,\\$xxx}, 'medium' is the {\\$xxx,\\$xxx} range, and 'high' is the {\\$xxx,\\$xxx} range.

**Target feature:**

**pfw_total_spent**: (float) amount spent between the end of the first week and the end of the 1 year CLTV period by the customer. This is the quantity we are aiming to predict.

In [16]:
## Creating our final dataframe to which we will be adding the featured columns discussed above. 

## We start with CustomerID
customer_features = pd.DataFrame(data=customers_in_cltv['CustomerID'])

## Creating Target_Variable: pfw_spent
pfw_total_spent_per_customer = []
for customer_index, customer in enumerate(customer_features['CustomerID']):
    pfw_start_date = customers_in_cltv.loc[customer_index,'cltv_start']
    pfw_end_date = customers_in_cltv.loc[customer_index,'cltv_end']
    
    pfw_spent = 0
    
    customer_orders = orders[orders['CustomerID'] == customer]  
    for index, order_date in zip(customer_orders.index, customer_orders['Transaction_Date']):
        if not(pfw_start_date < order_date <= pfw_end_date):
            continue
        value_order = orders.loc[index, 'Total_Spent']
        pfw_spent += value_order
    pfw_total_spent_per_customer.append(pfw_spent)

    
customer_features['pfw_spent'] = pd.Series(data=pfw_total_spent_per_customer)

In [17]:
# fw_nb_orders, fw_nb_items, fw_total_spent, fw_used_coupon, first_order_month
fw_nb_orders_per_customer = []
fw_nb_items_per_customer = []
fw_total_spent_per_customer = []
fw_used_coupon_per_customer = []
first_order_month_per_customer = []
for customer_index, customer in enumerate(customer_features['CustomerID']):
    fw_start_date = customers_in_cltv.loc[customer_index,'First_Order']
    fw_end_date = customers_in_cltv.loc[customer_index,'cltv_start']
    
    # for fw_nb_orders
    count_orders = 0
    # for fw_nb_items
    count_items = 0
    # for fw_total_spent
    total_spent = 0
    # for fw_used_coupon
    used_coupon = 0
    # for first_order_month
    first_order_month = ""
    
    customer_orders = orders[orders['CustomerID'] == customer]  
    for index, order_date in zip(customer_orders.index, customer_orders['Transaction_Date']):
        if not(fw_start_date <= order_date <= fw_end_date):
            continue
        # for fw_nb_orders
        count_orders += 1
        # for fw_nb_items
        nb_items_in_order = orders.loc[index, 'Total_Items_Purchased']
        count_items += nb_items_in_order
        # for fw_total_spent
        value_order = orders.loc[index, 'Total_Spent']
        total_spent += value_order
        # for fw_used_coupon
        if orders.loc[index, 'Used_Coupon']:
            used_coupon = 1
        # for first_order_month
        if first_order_month == "":
            first_order_date = orders.loc[index, 'Transaction_Date']
            first_order_month = str(first_order_date.month)
    # for fw_nb_orders
    fw_nb_orders_per_customer.append(count_orders)
    # for fw_nb_items
    fw_nb_items_per_customer.append(count_items)
    # for fw_total_spent
    fw_total_spent_per_customer.append(total_spent)
    # for fw_used_coupon
    fw_used_coupon_per_customer.append(used_coupon)
    # for first_order_month
    first_order_month_per_customer.append(first_order_month)
    
customer_features['fw_nb_orders'] = pd.Series(data=fw_nb_orders_per_customer)
customer_features['fw_nb_items'] = pd.Series(data=fw_nb_items_per_customer)
customer_features['fw_total_spent'] = pd.Series(data=fw_total_spent_per_customer)
customer_features['fw_used_coupon'] = pd.Series(data=fw_used_coupon_per_customer)
customer_features['first_order_month'] = pd.Series(data=first_order_month_per_customer)

In [18]:
def fill_transaction_dates(df):
    df.sort_values(['OrderID', 'Transaction Date'], inplace=True)
    df.fillna(method='ffill', inplace=True)
    return df

# fw_purchased_accessory, first_item_size, accepts_marketing
fw_purchased_accessory_per_customer = []
first_item_size_per_customer = []
accepts_marketing_per_customer = []
is_in_wealthy_zip = []
region_for_customer = []
price_range_first_item = []

for customer_index, customer in enumerate(customer_features['CustomerID']):
    fw_start_date = customers_in_cltv.loc[customer_index,'First_Order']
    fw_end_date = customers_in_cltv.loc[customer_index,'cltv_start']
    
    # for fw_purchased_accessory
    purchased_accessory = 0
    # for first_item_size
    first_item_size = ""
    # for accepts_marketing
    accepts_marketing = 0
    # for wealthy_zip
    wealthy_zip = 0
    # for region
    region = ""
    # for first_item_price_range
    fi_price_range = ""
    
    customer_items_purchased = fill_transaction_dates(raw_data[raw_data['CustomerID'] == customer])
    for index, purchase_date in zip(customer_items_purchased.index, customer_items_purchased['Transaction Date']):
        if not(fw_start_date <= purchase_date <= fw_end_date):
            continue
        item_name = raw_data.loc[index, 'Lineitem name']
        item_characteristics = items[items['Lineitem name'] == item_name]
        # for fw_purchased_accessory
        is_accessory_idx = items.columns.get_loc('is_accessory')
        item_is_accessory = item_characteristics.iloc[0, is_accessory_idx]
        if item_is_accessory:
            purchased_accessory = 1
        # for first_item_size
        if first_item_size == "":
            size_idx = items.columns.get_loc('size')
            first_item_size = item_characteristics.iloc[0, size_idx]
        # for first_item_price_range
        if fi_price_range == "":
            fi_pr_idx = items.columns.get_loc('Price_Range')
            fi_price_range = item_characteristics.iloc[0, fi_pr_idx]
        
    
        # for accepts_marketing
        if raw_data.loc[index, 'Accepts Marketing'] == 'yes':
            accepts_marketing = 1
        # for wealthy_zip 
        if raw_data.loc[index, 'wealthy_zip'] == 1:
            wealthy_zip = 1
        # for region
        region = raw_data.loc[index, 'region']
            
            
    # for fw_purchased_accessory
    fw_purchased_accessory_per_customer.append(purchased_accessory)
    # for first_item_size
    first_item_size_per_customer.append(first_item_size)
    # for accepts_marketing
    accepts_marketing_per_customer.append(accepts_marketing)
    # for wealthy_zip
    is_in_wealthy_zip.append(wealthy_zip)
    # for region
    region_for_customer.append(region)
    # for price_range
    price_range_first_item.append(fi_price_range)
    
customer_features['fw_purchased_accessory'] = pd.Series(data=fw_purchased_accessory_per_customer)
customer_features['first_item_size'] = pd.Series(data=first_item_size_per_customer)
customer_features['accepts_marketing'] = pd.Series(data=accepts_marketing_per_customer)
customer_features['wealthy_zip'] = pd.Series(data=is_in_wealthy_zip)
customer_features['region'] = pd.Series(data=region_for_customer)
customer_features['first_item_price_range'] = pd.Series(data=price_range_first_item)

In [19]:
print('Shape of dataframe: ', customer_features.shape)

print('\n\n')
customer_features.head(5)

Shape of dataframe:  (10595, 13)

,CustomerID,pfw_spent,fw_nb_orders,fw_nb_items,fw_total_spent,fw_used_coupon,first_order_month,fw_purchased_accessory,first_item_size,accepts_marketing,wealthy_zip,region,first_item_price_range
0,Anonymous13455,1257.80,1,1,50.0,0,6,0,M,0,0,MW,high
1,Anonymous2142,436.15,1,1,48.0,0,5,0,L,0,0,NE,high
2,Anonymous4843,1052.75,2,2,96.0,0,10,0,S,1,0,W,high
3,Anonymous11225,728.10,1,1,16.0,0,1,1,No size,0,0,MW,low
4,Anonymous540,1114.75,1,1,50.0,0,1,0,XS,0,0,W,high

In [20]:
customer_features.to_csv(path_or_buf = '.\..\..\Datasets\cleaned_data.csv', sep=',')

In [21]:
## Before we move on to the EDA section, we can take a look at our LTV, First Week and Post First Week Spend
customer_features['cltv'] = customer_features['pfw_spent'] + customer_features['fw_total_spent']
print('Median Post First Week Spend: ', customer_features.pfw_spent.median())
print('Mean Post First Week Spend: ', customer_features.pfw_spent.mean())
print('Median First Week Spend: ', customer_features.fw_total_spent.median())
print('Mean First Week Spend: ', customer_features.fw_total_spent.mean())
print('Median 1 Year LTV: ', customer_features.cltv.median())
print('Mean 1 Year LTV: ', customer_features.cltv.mean())

Median Post First Week Spend:  0.0
Mean Post First Week Spend:  36.26725436526664
Median First Week Spend:  50.0
Mean First Week Spend:  66.42696083058047
Median 1 Year LTV:  69.0
Mean 1 Year LTV:  102.6942151958471